.well img{
  /* display: inline-block;
  width: 300; */
}


/* Begin testing */

.navbar, .navbar a {
  background-color: white;
  color: black;
  
}

.navbar {
  box-shadow: 0px 0px 8px 2px #000000;
}

.false {
  display: none;
}

.form-title {
  text-align: center;
}

.inner-element{
  text-align: center;
  background-color: #eee;
  padding: 5px;
  color: black;
}

.inner-element:hover {
  background-color: #ddd;
  cursor: pointer;
}

.inner-element a {
  color: #05E9FF;
}

.add-cart-button {
  background-color: #05E9FF;
  color: white;
}

.detail-img {
  height: 25vw;
  width: auto;
}

.shop-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner-element button, .inner-element img {
  display: block;
  margin: auto;
}

.add-cart-button, .inner-element {
  display: block;
  margin: auto;
}

.inner-element {
  width: auto;
}