body{
	text-align: center;
	background-color: #E0FFFF;
}

.item-title{
	position: absolute;
	font-weight: bold;
	height: 50%;
	}

	.shop-item{
		margin-top: 20px;
	}

	.cart-quantity{
		margin-top: 50px;
	}

	.cart-item-title{
		position:absolute;
		text-align: center;
		font-weight: bold;
	}

	img{
	border: 2px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	align-items: center
	border-radius: 8px;
	}

	.shopping-cart{
		background: grey;
	}